services:
  jenkins:
    # image: jenkins/jenkins:lts-jdk21   ← закомментируйте или удалите
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins-plugins.txt:/usr/share/jenkins/ref/plugins.txt
    networks:
      - microservices-net
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
volumes:
  postgres_data:
  jenkins_home:
networks:
  microservices-net:
    driver: bridge