version: "3.8"

services:
  jenkins:
    # image: jenkins/jenkins:lts-jdk21   ← закомментируйте или удалите
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - microservices-net
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

  # Инфраструктура: Брокер сообщений
  # Инфраструктура: Метрики
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - microservices-net
volumes:
  jenkins_home:
  grafana-storage:

networks:
  microservices-net:
    driver: bridge
